@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Outfit:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
  --cyan: hsl(179, 62%, 43%);
  --light-cyan: hsla(179, 62%, 43%, .8) ;
  --greenish-yellow: hsl(71, 73%, 54%);
  --font-family: "Karla", sans-serif;
}

html {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--light-gray);
  font-family: var(--font-family);
}

.white-text {
  color: white;
}

.card {
  border-radius: .5em;
  overflow: hidden;
  width: 640px;
  box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.15);
}

.top{
  background-color: #fff;
  padding: 40px;
}
#top-h2 {
  color: var(--cyan);
  padding-bottom: 24px;
  font-weight: 700;
}

#yellow-header {
  color: var(--greenish-yellow);
  padding-bottom: 8px;
  font-weight: 700;
}
.top-p {
  color: hsla(218, 22%, 67%, .75);
  line-height: 1.4;
  font-size: 1em;
}

.bottom {
  display: flex;
  justify-content: center;
}

.left {
  background-color: var(--cyan);
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  padding: 40px;
}
#left-h2 {
  color: white;
  padding-bottom: 16px;
  font-weight: 400;
}
.price-container {
  display: flex;
  align-items: center;
  padding-bottom: 8px;
  /* border: 1px solid blue; */
}
.price-container  span {
  font-size: 2em;
  font-weight: 700;
  margin: 0px 16px 4px 0px;
  /* border: 1px solid red; */
}
.price-container > p {
  color: rgba(255, 255, 255, .5);
  /* border: 1px solid white; */
}

.left-p {
  color: rgba(255, 255, 255, .8);
  /* border: 1px solid black; */
  padding-bottom: 32px;
  white-space: nowrap;
}

#left-btn {
  background-color: var(--greenish-yellow);
  border: none;
  padding: 16px 32px;
  border-radius: 4px;
  color: white;
  width: 100%;
  font-weight: 700;
  letter-spacing: 1px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, .1);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.right {
  background-color: var(--light-cyan);
  flex: 1;
  display:flex;
  flex-direction: column;
  justify-content: center;
  padding: 32px;

}

#right-h2{
  color: white;
  padding-bottom: 16px;
  font-weight: 400;
}

li {
  list-style: none;
  color: rgba(255, 255, 255, .6);
  line-height: 1.4;
}

footer{
  color: hsl(228, 45%, 44%);
  font-size: 12px;
  text-align: center;
  border: 1px solid black;
  margin-top: auto;
}

@media (max-width: 500px) {
  .card {
    width: 300px;
  }

  .top {
    padding: 26px;
  }

  .bottom {
    display: flex;
    flex-direction: column;
  }

  .left {
    padding: 24px;
  }

  .left-p {
    color: rgba(255, 255, 255, .8);
    /* border: 1px solid black; */
    padding-bottom: 32px;
    white-space: nowrap;
  }

  footer {
    width: 80%;
  }
}
