* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
  --cyan: hsl(179, 62%, 43%);
  --light-cyan: hsla(179, 62%, 43%, .45) ;
  --bright-yellow: hsl(71, 73%, 54%);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: var(--light-gray);
}

#blue-header{

}

#green-header {

}

.transparent-font {
}

.light-header {

}

.top {
  background-color: #fff;
}

.left {
  background-color: var(--cyan);
  flex: 1;
}

.right {
  background-color: var(--light-cyan);
  flex: 1;
}

.bottom {
  display: flex;
  justify-content: center;
  width: 100%;
}

ul > li {
  list-style: none;
}
footer {
  color: hsl(228, 45%, 44%);
  font-size: 11px;
  text-align: center;
  position: fixed;
  bottom: 0px;
  margin-right: auto;
  margin-left: auto;
}
